---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/* 포스트 목록 스타일 */
.archive__item {
    margin-bottom: 2rem;
    padding: 1rem;
    border-bottom: 1px solid #444;
  }
  
.archive__item-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
  
.archive__item-excerpt {
  font-size: 0.9rem;
  color: #aaa;
}

.page__content {
    max-width: 800px; /* 원하는 너비로 조정 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 0 20px; /* 양옆 패딩 추가 */
}

@media (max-width: 800px) {
    .page__content {
        max-width: 100%;
        padding: 0 10px;
    }
}