---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/* 포스트 목록 스타일 */
.archive__item {
    margin-bottom: 2rem;
    padding: 1rem;
    border-bottom: 1px solid #444;
  }
  
.archive__item-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
  
.archive__item-excerpt {
  font-size: 0.9rem;
  color: #aaa;
}

// // 추가할 부분
// .page {
//     width: 80%;
//     margin: 0 auto;
//     @media (min-width: 80em) {
//       width: 65%;
//     }
//   }
  
//   .page__content {
//     p, li, dl {
//       font-size: 0.9em;
//     }
//   }